<h1 class="mat-display-1 title">Support et Foire Aux Questions</h1>
<mat-accordion>
    <app-first-steps-questions [appName]="appName" [expanded]="expanded"></app-first-steps-questions>
    <app-application-questions [appName]="appName" [expanded]="expanded"></app-application-questions>
    <app-security-questions [appName]="appName" [expanded]="expanded"></app-security-questions>
    <app-bills-questions [appName]="appName" [expanded]="expanded"></app-bills-questions>
    <!-- <app-subscription-questions [appName]="appName" [expanded]="expanded"></app-subscription-questions> -->
    <app-misc-questions [appName]="appName" [expanded]="expanded"></app-misc-questions>
</mat-accordion>
<app-support [appName]="appName" [expanded]="true"></app-support>