<mat-expansion-panel [expanded]=expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h1>Premiers pas 👣</h1>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
        <h3>Qui dois-je contacter si je rencontre des difficultés ?</h3>
        <p class="response">En cas de difficultés ou tout simplement en cas de questions, <b>vous pouvez nous <a
                    [href]="mailto">envoyer un email</a></b>.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Je viens de m'inscrire mais je ne comprends pas bien ce que je dois faire pour pouvoir émettre mes premières
            factures...</h3>
        <p class="response">Pour profiter pleinenement des fonctionnalités de <b><a href="/app/"
                    target="blank">{{appName}}</a></b>, <b>vous devez réaliser les opérations de la checklist
                suivante</b> :</p>
        <div class="checklist">
            <mat-checkbox>vous <b>connecter sur <a href="/app/" target="blank">{{appName}}</a></b>,</mat-checkbox>
            <mat-checkbox>compléter votre <b>profil</b>,</mat-checkbox>
            <mat-checkbox>générer vos <b>premières offres</b>,</mat-checkbox>
            <mat-checkbox>créer votre <b>première fiche client</b>,</mat-checkbox>
            <mat-checkbox>ouvrir la fiche client et <b>cliquer sur l'icone '+'</b>.</mat-checkbox>
        </div>
        <p class="response">Ces différentes étapes sont généralement assez simples et intuitives.</p>
        <p class="response">Pensez également à jeter un oeil à la section <b>Facturier de la FAQ</b>...
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Je n'ai pas reçu de mail après mon inscription, que dois-je faire ?</h3>
        <p class="response">Pas d'inquiétude, <b>prenez contact avec nous par <a
                    [href]="mailto">email</a></b> et nous trouverons
            rapidement
            une solution à ce problème.</p>
        <p class="response">A tout hazard:</p>
        <div class="checklist">
            <mat-checkbox>vérifiez bien dans vos SPAM ou dans votre corbeille,</mat-checkbox>
            <mat-checkbox>activez les notifications pour la réception des emails,</mat-checkbox>
            <mat-checkbox>assurez-vous que l'adresse renseignée est la bonne (si si, ça arrive relativement souvent faites-nous confiance...).</mat-checkbox>
            
        </div>
    </div>
</mat-expansion-panel>
