<mat-toolbar class="fixed-header mat-elevation-z2" color="primary" role="header" aria-label="toolbar">
  <mat-toolbar-row class="toolbar_row">
    <!-- do nothing -->
    <button type="button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-label="menu" matTooltip="menu">menu</mat-icon>
    </button>
    <span class="toolbar_title">{{title}}</span>
    <a type="button" mat-icon-button href="https://kiam.fr/app/">
      <mat-icon aria-label="Application" matTooltip="Application">exit_to_app</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main_content">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" class="sidenav" mode="push">
      <mat-nav-list>
        <a mat-list-item href="#" style="height: 0px;"></a>
        <a mat-list-item routerLink="home" routerLinkActive="active" (click)="sidenav.close()">
          <mat-icon matListIcon>home</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>