<p>Pour des raisons de sécurité, pour le bon fonctionnement de l'application et afin de vous offrir une expérience
    utilisateur de qualité, <b>{{title}}</b> stocke des
    informations dans votre navigateur.</p>
<p> En poursuivant votre navigation sur ce site, vous acceptez que <b>{{title}}</b> stocke des informations sur votre
    navigateur.</p>
<div class="actions">
    <div class="agreement">
        <a mat-raised-button class="action" color="warn">Refuser</a>
        <div class="glue"></div>
        <a mat-raised-button class="action" color="primary">Accepter</a>
    </div>
    <a mat-raised-button class='tos'
        href="https://firebasestorage.googleapis.com/v0/b/comptandye-4c50d.appspot.com/o/cgvu%2Fcgvu.pdf?alt=media&token=38dd0f4c-0045-4ad6-9b9a-41dd11842b06"
        target="_blank">Consulter les CGVU</a>
</div>