.actions {
    display: flex;
    flex-direction: column;
}

.agreement {
    display: flex;
    justify-content: space-between;
}

.action {
    flex-grow: 10;
}

.glue{
    flex: 1 1 auto;
}

.tos {
    margin-top: 8px;
    flex-grow: 2;
}