<mat-expansion-panel [expanded]=expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="faq-title">
                <i class="material-icons">receipt</i>
                <h1>Facturier</h1>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <h3>Je ne peux pas créer de facture depuis le Facturier, est-ce normal ?</h3>
        <p class="response">Oui. En l'état, le Facturier vous <b>permet d'obtenir des informations relatives à votre
                facturation</b>.</p>
        <p class="response">Pour créer une facture, nous vous invitons à consulter la fiche d'un client ou d'un groupe
            et à créer votre facture directement depuis la fiche.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Pourquoi retrouve-t-on également des factures sur la fiche d'un client ?</h3>
        <p class="response">Le <b>micro-facturier est un facturier spécifique</b> à un client ou un groupe.</p>
        <p class="response">Il permet d'avoir très <b>rapidement accès aux factures d'un client ou d'un groupe depuis
                une fiche</b>.</p>
        <p class="response">Il permet également de mettre efficacement en avant les états de règlement d'un client ou
            d'un groupe, afin de pouvoir le relancer si nécessaire.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Je vois des factures "impayées" et des factures "non soldées", quelle est la différence ?</h3>
        <p class="response">La plupart de nos utilisateurs facturent et sont payés tout de suite après leur prestation.
        </p>
        <p class="response">Certain <b>émettent des factures et attendent d'être payés pour clore (solder) leur facture</b>.</p>
        <p class="response"><b>Les factures "non soldées" représentent ce cas d'usage</b>.</p>
        <p class="response">C'est une fonction généralement utilisée lorsqu'une facture est règlée par chèque :
            l'utilisateur attend l'encaissement pour solder la facture.</p>
        <p class="response">Les factures marquées <b>"impayées"</b> sont des factures "non soldées" <b>n'ayant pas été
                règlées dans un délai de 14 jours</b>.</p>
        <p class="response">Pour le moment, cette durée est arbitraire et ne peut pas être changée.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Peut-on trier et/ou filtrer les factures ?</h3>
        <p class="response">Oui. Tout d'abord, <b>on peut trier les factures</b> par date, par référence (ci-présent
            dans l'interface), par
            nom du client ou du groupe, par montant et par statut du règlement de la facture.</p>
        <p class="response">Il est <b>également possible de filtrer les factures</b> par date et/ou par moyens de
            paiement utilisés pour le règlement d'une facture.</p>
        <p class="response">Un <b>filtrage rapide</b> des factures "impayées" ou "non soldées" est également possible
            <b>en cliquant directement sur les synthèses colorées spécifiques</b>.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Comment puis-je avoir rapidement accès à mon CA et à ma TVA collectée ?</h3>
        <p class="response"><b>Le CA mensuel est calculé automatiquement et disponible en haut sur votre facturier</b>.
        </p>
        <p class="response">Vous pourrez également y retrouver votre CA du mois précédent.</p>
        <p class="response">Si vous avez renseigné votre identifiant de TVA sur votre profil, vous pouvez émettre des
            factures avec (ou sans) TVA.</p>
        <p class="response"><b>La TVA collectée est calculée automatiquement et disponible avec les différents
                taux de TVA en vigueur</b> en France métropolitaine.</p>
        <p class="response">Le montant collecté et la base de référence, tous deux à déclarer aux services des impôts,
            sont également présents sur le Facturier.</p>
        <p class="response">Vous devez utiliser le filtre par date (au milieu du Facturier) pour affiner votre calcul
            pour la période recherchée.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Est-ce que je peux supprimer une facture émise (soldée ou pas) ?</h3>
        <p class="response"><b>Non</b>. Pour des raisons légales, vous ne pouvez pas supprimer/détruire une facture.</p>
        <p class="response">Mais vous pourrez prochainement l'annuler...</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>J'ai rempli toutes les informations sur ma facture mais je n'arrive pas à la clore. Je ne peux que la
            sauvegarder... pourquoi ?</h3>
        <p class="response">Une <b>facture soldée est une facture avec une date de solde et un montant total règlé</b>.
        </p>
        <p class="response">Assurez-vous d'avoir bien renseigné la date de solde de la facture ainsi que tous les
            paiements.</p>
        <p class="response">Plus généralement, assurez-vous qu'il n'y a pas d'erreur de saisie mise en avant par un
            message d'erreur en rouge sur la facture.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Je peux faire des factures mais je ne peux pas faire des devis... Est-ce prévu ?</h3>
        <p class="response"><b>Oui</b>.</p>
        <p class="response">Il s'agit d'une fonction <b>en cours de développement</b>.</p>
        <p class="response">Elle nous est demandée par beaucoup d'utilisateurs.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Comment est calculé le CA ? Je ne retrouve pas les mêmes chiffres...</h3>
        <p class="response"><b>Le CA est basé sur les montants HT cumulés de vos factures</b>.</p>
        <p class="response">Il est donc tout à fait posssible que vous observiez une différence si vous vous basez sur
            les montants TTC.</p>
        <p class="response">Il en est de même pour la calcul de la TVA.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Un client m'a payé en Avril une facture pour une prestation que j'ai fait en Janvier. Je viens de solder la
            facture mais je suis étonné de ne pas voir le CA du mois de Janvier augmenter. Est-ce normal ?</h3>
        <p class="response"><b>Oui, le règlement récent de votre facture augmente le CA pour la période courante</b>.
        </p>
        <p class="response">D'un point de vue fiscale, c'est tout à fait juste et sans incidence sur vos déclarations
            précédentes (ou futures... si naturellement vous n'omettez pas de déclarer ce nouveau règlement).</p>
    </div>
</mat-expansion-panel>