<mat-expansion-panel [expanded]=expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="faq-title">
                <i class="material-icons">info</i>
                <h1>Divers</h1>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
        <h3>Pourquoi spécifier la durée d'une prestation lors de la création d'une "Offre"?</h3>
        <p class="response">Pour le moment, <b>cette information n'est pas exploitée par le système</b>.</p>
        <p class="response">Nous envisageons à l'avenir de permettre à nos utilisateurs professionnels de proposer
            directement leurs services et leurs produits depuis l'application.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Quelle est la différence entre une prestation et un forfait sur l'application ?</h3>
        <p class="response"><b>Une prestation est une activité que vous souhaitez facturer à l'unité</b>. Il s'agit
            généralement d'un service.</p>
        <p class="response">Par exemple: une coupe de cheveux, une journée de conseil, la garde d'un enfant...</p>
        <p class="response"><b>Un forfait est un regroupement de services (ou un regroupement d'autres forfaits) que
                vous
                souhaitez facturer à l'ensemble</b> et non plus à l'unité.</p>
        <p class="response">Par exemple: une coupe de cheveux avec un shampoing et un brushing ou même tout
            simplement une promotion exceptionnelle sur un ensemble de services...</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Je facture mes prestations en régie et pas au forfait, je suis un peu perdu avec la notion d'offre de
            l'application...</h3>
        <p class="response"><b>La différence entre une facturation en régie et une facturation au forfait est purement
                contractuelle</b>.</p>
        <p class="response">La facturation au forfait engage le prestataire à une obligation de résultats alors que
            la prestation en régie ne l'engage qu'en termes de moyens.</p>
        <p class="response">Ainsi, si vous facturez vos prestations en régie, vous pouvez librement créer des services,
            les facturer à l'unité (ce que nous appelons des prestations) ou facturer un ensemble regroupant différents
            services (ce que nous appelons des forfaits).</p>
        <p class="response">Mais encore une fois, les notions de "régie" ou "forfait" ne sont pas présentes par défaut
            dans l'application: c'est à vous de les expliciter dans le libellé de vos services.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Peut-on mettre un forfait dans un autre forfait ?</h3>
        <p class="response"><b>Oui</b>. Certains de nos clients utilisent cette fonction pour faire des offres
            promotionnelles pour les fêtes par exemple.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Quelle est la différence entre les "groupes" et les "catégories" ?</h3>
        <p class="response"><b>Un groupe va correspondre à un ensemble de facturation</b> (par exemple une facture pour
            un comité d'entreprise) <b>alors qu'une catégorie est juste un regroupement logique de clients</b> (par
            exemple une catégorie "clients fidèles").</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Comment exploiter la notion de "catégorie" ?</h3>
        <p class="response">Pour le moment, <b>elle vous permet simplement de regrouper des clients dans une ou
                plusieurs catégories</b>.</p>
        <p class="response">Certains de nos utilisateurs nous ont demandé d'étendre cette fonction à l'envoi groupé de
            SMS ou de mails promotionnels.</p>
        <p>Nous y travaillons actuellement et vous serez naturellement informé quand
            cette nouvelle fonction sera disponible.</p>
    </div>
</mat-expansion-panel>