<mat-expansion-panel [expanded]=expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="faq-title">
                <i class="material-icons">build</i>
                <h1>Support</h1>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
        <h3>Vous ne trouvez pas de réponses à vos questions sur la FAQ ?</h3>
        <div class="action-buttons">
            <a mat-raised-button color="accent" class="action-button" [href]="support">Contacter le support</a>
        </div>
    </div>
</mat-expansion-panel>