<mat-expansion-panel [expanded]=expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="faq-title">
                <i class="material-icons">account_balance_wallet</i>
                <h1>Abonnement</h1>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
        <h3>Où se trouvent les factures de mon abonnement à {{appName}} ?</h3>
        <p class="response">Toutes <b>vos factures se trouvent dans l'espace "souscription" de votre profil</b>.</p>
        <p class="response">Elles sont sauvegardées dans un Cloud mais nous vous invitons à les télécharger également.
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Est-ce que je facilement annuler mon abonnement et supprimer mon compte ?</h3>
        <p class="response">Oui, <b>vous pouvez très facilement vous désabonner ou vous ré-abonner depuis l'espace
                "souscription" de votre profil</b>.</p>
        <p class="response">Si vous ne procéder par à un ré-abonnement avant la date d'engagement de votre abonnement, à
            l'issue de cette échéance, votre compte sera bloqué pour une période de 14 jours puis il sera tout
            simplement détruit.</p>
        <p class="response">Vous pouvez également nous contacter afin que nous procédions ensemble à un désabonnement et
            à une destruction immédiate de votre compte.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Une erreur avec ma carte bancaire m'empêche de finaliser ma souscription, que dois-je faire ?</h3>
        <p class="response">Nous avons mis en place en 2018 un mécanisme de validation des paiements par carte bancaire
            (3D Secure) puis en 2019 nous avons implanté une nouvelle version de ce mécanisme (3DS-v2) afin de répondre
            aux futures exigences bancaires (validation d'un paiement en ligne par une authentification à double
            facteur).</p>
        <p class="response"><b>Il est tout à fait possible que votre carte ne supporte pas encore ce niveau
                d'exigence</b>.</p>
        <p class="response">Nous vous invitons à prendre contact avec votre banque afin qu'elle active ce service sur
            votre carte. C'est usuellement un service gratuit qui sera obligatoire à partir de 2020 ou 2021.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Est-ce que je peux fournir un RIB ou pouvez-vous émettre un mandat SEPA à la place d'un paiement par carte
            bancaire ?</h3>
        <p class="response">Afin de nous assurer d'une réduction des litiges et des impayés, nous avons opté pour
            l'option paiement en ligne par carte bancaire avec 3DS-v2.</p>
        <p class="response"><b>Nous ne proposons l'option "paiement SEPA" qu'à nos clients ayant déjà une certaine
                ancienneté sur la plateforme</b>.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Est-ce que le prix de l'abonnement va rester aussi bas longtemps ?</h3>
        <p class="response">Pour le moment, <b>nous n'avons pas besoin d'augmenter le tarif de base pour les fonctions
                actuellement implantées</b>.</p>
        <p class="response">Les futures évolutions fonctionnelles entraîneront probablement la création de nouveaux
            forfaits et donc ne nouveaux tarifs.</p>
        <p class="response">En toute transparence, nous vous tiendrons bien évidemment informé de ces évolutions
            tarifaires si elles doivent se produire.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Y-a-t il une fonction de parrainage dans l'application ?</h3>
        <p class="response">Pour le moment, <b>non</b>.</p>
        <p class="response">Cette fonction nous est demandée depuis peu. Nous réfléchissons à son implantation et aux
            avantages qui peuvent en découler pour nos utilisateurs.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Que se passe-t-il maintenant que j'ai payé avec ma carte bancaire ?</h3>
        <p class="response">Ce point est explicité dans nos <a [href]="tos" target="_blank">CGVU</a>.</p>
        <p class="response">En fonction de l'offre souscrite, vous bénéficiez de tous les services de l'application pour la période converte par l'abonnement.</p>
        <p class="response">L'abonnement est d'ailleurs automatiquement renouvellé à l'issue de cette période pour une nouvelle période.</p>
    </div>
</mat-expansion-panel>