<mat-expansion-panel [expanded]=expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="faq-title">
                <i class="material-icons">get_app</i>
                <h1>Application</h1>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
        <h3>Je ne trouve pas l'application sur App Store ou Play Store, est-ce normal ?</h3>
        <p class="response">Oui, c'est tout à fait normal.</p>
        <p class="response"><b>{{appName}} est une application cloud (webapp)</b>, il ne s'agit pas d'une application
            native Android ou iOS.</p>
        <p class="response">Elle a juste besoin d'un navigateur internet récent pour s'exécuter correctement.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Est-ce que je peux télécharger l'application sur mon téléphone ou ma tablette ?</h3>
        <p class="response">Il n'est pas nécessaire de télécharger l'application sur votre téléphone ou votre tablette.
        </p>
        <p class="response">Nous recommandons de <b>sauvegarder le lien de l'application <a href="/app/"
                    target="_blank">{{appName}}</a> dans les favoris</b> de votre navigateur internet.</p>
        <p class="response">Si vous le souhaitez, vous pouvez néanmoins ajouter un raccourci à l'écran d'accueil de
            votre téléphone ou de votre tablette (ex: sur <a
                href="https://support.mozilla.org/fr/kb/comment-ajouter-un-raccourci-vers-site-web-firefox-android"
                target="_blank">Android</a> ou <a href="https://support.apple.com/fr-fr/guide/iphone/iph42ab2f3a7/ios"
                target="_blank">iOS</a>).</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>J'utilise Edge sur Windows 10 et j'ai un smartphone avec Windows Mobile. Est-ce que je peux aussi utiliser
            l'application ? </h3>
        <p class="response">Oui, bien sûr. <b>{{appName}} fonctionne sur tous les appareils possédant un navigateur
                internet récent.</b>
        </p>
        <p class="response">Cela signifie qu'elle fonctionne aussi bien sur un ordinateur avec Edge, Chrome, Firefox ou
            Safari (pour ne citer que ceux là...) que sur
            un smartphone ou une tablette numérique avec Chrome ou Safari par exemple.</p>
        <p class="response">Les consoles de salons et les Box TV possédant également un navigateur internet, il est
            <b>aussi tout à fait possible d'utiliser {{appName}} sur votre télévision...</b></p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Un message apparaît de temps en temps m'informant qu'une mise à jour est disponible, que dois-je faire pour
            mettre à jour l'application ?</h3>
        <p class="response">La <b>mise à jour est automatique</b>.</p>
        <p class="response">Vous pouvez toutefois cliquer sur le bouton vous
            invitant à recharger l'application ou tout simplement fermer l'onglet courant ou votre navigateur internet
            et réouvrir <b><a href="/app/">{{appName}}</a></b>.</p>
        <p class="response">Un message de confirmation vous indiquera lorsque l'application est à jour et fonctionne
            avec la dernière version de code.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Il a une page blanche indiquant que l'application est en cours de chargement mais elle ne se charge pas, que dois-je faire dans ce cas ?</h3>
        <p class="response">Il est possible que la mise à jour <b>requiert que vous fermiez les autres onglets où l'application est déjà ouverte</b>.</p>
        <p class="response">Veillez à exécuter <b><a href="/app/">{{appName}}</a></b> dans un seul onglet, afin d'éviter d'avoir des conflits de version au sein du même navigateur internet.</p>
        <p class="response">Vous pouvez aussi <b>tout simplement rafraîchir l'onglet</b> de l'application.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="next">
        <h3>Qui a conçu et qui maintient cette application ?</h3>
        <p class="response">L'application <b>{{appName}} est développée et maintenue par la société TRENDev</b>, spécialisée en conseils, recherche et développement informatique.</p>
        <p class="response">Sa conception repose sur un savoir-faire largement éprouvé dans le monde industriel et des technologies récentes et innovantes.</p>
    </div>
</mat-expansion-panel>