section {
    display: flex;
    flex-flow: column;
    height: 100% !important;
}

// mat-divider {
//     position: relative;
//     // top: +18px;
//     margin: 40px;
// }

.glue {
    flex: 1;
}

mat-card {
    margin: 12px;
}

.signup-button {
    position: relative;
    width: 200px;
    text-align: center;
    border-radius: 48px;
}

.signup-div {
    display: flex;
    justify-content: center;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.feature_card {
    width: 300px;
}

.item{
    display: flex;
    align-content: center;
    align-items: center;
}

.item > span {
    padding-left: 4px;
}