<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Kit pour les Indépendants et les Artisans Malins
            </mat-card-title>
            <mat-card-subtitle>
                Indépendant ou Artisan exerçant individuellement, vous recherchez un outil pratique pour vous assister
                dans
                la gestion quotidienne de votre entreprise et vous faciliter un peu la vie ?
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="signup-div">
                <a mat-raised-button color="accent" class="signup-button"
                    href="https://kiam.fr/app/sign-up ">Inscription</a>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="features">
        <mat-card class="feature_card">
            <mat-card-header>
                <i mat-card-avatar class="material-icons">cloud_download</i>
                <mat-card-title>Application Cloud disponible partout et tout le temps</mat-card-title>
                <mat-card-subtitle>kiam est une application web progressive, nécessitant simplement l'utilisation d'un
                    navigateur web moderne</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="item">
                    <mat-icon color="accent">cloud_done</mat-icon>
                    <span>pas d'installation</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">autorenew</mat-icon>
                    <span>mise à jour automatique</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">done_all</mat-icon>
                    <span>supportée sur toutes les plateformes</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="feature_card">
            <mat-card-header>
                <i mat-card-avatar class="material-icons">verified_user</i>
                <mat-card-title>Securité renforcée</mat-card-title>
                <mat-card-subtitle>vos données sont protégées et leur sûreté est notre priorité principale
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="item">
                    <mat-icon color="accent">https</mat-icon>
                    <span>accès sécurisé</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">vpn_key</mat-icon>
                    <span>identification et transactions chiffrées</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">security</mat-icon>
                    <span>renforcements et tests réguliers</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">vpn_lock</mat-icon>
                    <span>conformité au RGPD</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>