<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Kit pour les Indépendants et les Artisans Malins
            </mat-card-title>
            <mat-card-subtitle>
                <p>
                    Indépendant, Artisan exerçant individuellement ou Auto-Entrepreneur, vous recherchez un <b>outil
                        pratique</b> pour vous assister dans la gestion quotidienne de votre entreprise et vous
                    faciliter un peu la vie ?
                </p>
                <p>
                    Vous êtes lassé des applications trop complexes et des limitations d'utilisation en tout genre ?
                </p>
                <p>Vous devez facturer HT ou TTC ?</p>
                <p>Le calcul de votre TVA est devenu trop compliqué ?</p>
                <p>N'hésitez plus, rejoignez notre communauté d'entrepreneurs malins !
                </p>
                <p><b>
                    Toutes nos fonctions de base sont illimitées, il n'y a pas d'engagement et la plateforme évolue régulièrement !
                  </b></p>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="action-buttons">
                <a mat-raised-button color="primary" class="action-button" href="/app/sign-up">S'inscrire</a>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="features">
        <mat-card class="feature_card">
            <mat-card-header>
                <i mat-card-avatar class="material-icons">description</i>
                <mat-card-title>Facture digitale au format PDF</mat-card-title>
                <mat-card-subtitle>l'application permet de générer en quelques secondes des factures homologuées
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="item">
                    <mat-icon color="accent">search</mat-icon>
                    <span>visualisation immédiate des impayés/retards</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">send</mat-icon>
                    <span>envoi numérique via SMS, WhatsApp, email...</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">settings</mat-icon>
                    <span>calcul automatique du CA (avec ou sans TVA)</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">payment</mat-icon>
                    <span>filtre par moyen de paiement</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">eco</mat-icon>
                    <span>archivage électronique automatisé</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="feature_card">
            <mat-card-header>
                <i mat-card-avatar class="material-icons">widgets</i>
                <mat-card-title>Gestion simplifiée et intuitive</mat-card-title>
                <mat-card-subtitle>toute l'application est pensée pour être rapide et facile d'utilisation
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="item">
                    <mat-icon color="accent">assignment</mat-icon>
                    <span>offres de services et prestations hiérarchisées</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">assignment_ind</mat-icon>
                    <span>référentiel client centralisé</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">group_add</mat-icon>
                    <span>groupement des clients (CE, collectivités... )</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">loyalty</mat-icon>
                    <span>labels et catégories</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">library_books</mat-icon>
                    <span>recherche rapide</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="feature_card">
            <mat-card-header>
                <i mat-card-avatar class="material-icons">cloud_download</i>
                <mat-card-title>Application Cloud disponible partout et tout le temps</mat-card-title>
                <mat-card-subtitle>kiam est une application web progressive, nécessitant simplement l'utilisation d'un
                    navigateur web moderne</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="item">
                    <mat-icon color="accent">cloud_done</mat-icon>
                    <span>pas d'installation</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">autorenew</mat-icon>
                    <span>mise à jour automatique</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">devices</mat-icon>
                    <span>supportée sur toutes les plateformes</span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="feature_card">
            <mat-card-header>
                <i mat-card-avatar class="material-icons">verified_user</i>
                <mat-card-title>Securité renforcée</mat-card-title>
                <mat-card-subtitle>vos données sont protégées et leur sûreté est notre priorité principale
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="item">
                    <mat-icon color="accent">https</mat-icon>
                    <span>accès sécurisés</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">vpn_key</mat-icon>
                    <span>identifications et transactions chiffrées</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">security</mat-icon>
                    <span>renforcements et tests réguliers</span>
                </div>
                <div class="item">
                    <mat-icon color="accent">vpn_lock</mat-icon>
                    <span>conformité au RGPD</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card>
        <mat-card-header>
            <i mat-card-avatar class="material-icons">thumb_up</i>
            <mat-card-title>Ils en sont ravis</mat-card-title>
            <mat-card-subtitle>nous innovons en nous basant sur les retours et les expériences de nos clients
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <!-- <div class="item">
                <mat-icon color="accent">all_inclusive</mat-icon>
                <span>toutes les fonctions en <b>illimité</b></span>
            </div>
            <div class="item">
                <mat-icon color="accent">undo</mat-icon>
                <span>aucun engagement</span>
            </div>
            <div class="item">
                <mat-icon color="accent">shop_two</mat-icon>
                <span>3 euros TTC / mois</span>
            </div>
            <div class="item">
                <mat-icon color="accent">shop</mat-icon>
                <span>ou 30 euros TTC / an</span>
            </div>
            <div class="item">
                <mat-icon color="accent">emoji_people</mat-icon>
                <span>30 jours d'utilisation gratuite</span>
            </div>
            <mat-card-actions>
                <div class="action-buttons">
                    <a mat-raised-button color="accent" class="action-button" href="/app/sign-up">S'inscrire
                        maintenant</a>
                    <a mat-raised-button color="primary" [ngClass]="['action-button','last-action-button']"
                        href="/support">Consulter la FAQ</a>
                </div>
            </mat-card-actions> -->
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <i mat-card-avatar class="material-icons">euro</i>
            <mat-card-title>Tarification simple</mat-card-title>
            <mat-card-subtitle>pas de surcoût caché, kiam est conçue pour permettre aux entrepreneurs,
                notamment les plus modestes, de gérer efficacement leurs activités sans mauvaises surprises !
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="item">
                <mat-icon color="accent">all_inclusive</mat-icon>
                <span>toutes les fonctions en <b>illimité</b></span>
            </div>
            <div class="item">
                <mat-icon color="accent">undo</mat-icon>
                <span>aucun engagement</span>
            </div>
            <div class="item">
                <mat-icon color="accent">shop_two</mat-icon>
                <span>3 euros TTC / mois</span>
            </div>
            <div class="item">
                <mat-icon color="accent">shop</mat-icon>
                <span>ou 30 euros TTC / an</span>
            </div>
            <div class="item">
                <mat-icon color="accent">emoji_people</mat-icon>
                <span>30 jours d'utilisation gratuite</span>
            </div>
            <mat-card-actions>
                <div class="action-buttons">
                    <a mat-raised-button color="accent" class="action-button" href="/app/sign-up">S'inscrire
                        maintenant</a>
                    <a mat-raised-button color="primary" [ngClass]="['action-button','last-action-button']"
                        href="/support">Consulter la FAQ</a>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</section>
