section {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.glue {
    flex: 1;
}

mat-card {
    margin: 12px;
}

.action-button {
    position: relative;
    width: 200px;
    text-align: center;
    border-radius: 48px;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.feature_card {
    width: 350px;
}

.item {
    display: flex;
    align-content: center;
    align-items: center;
}

.item>span {
    padding-left: 12px;
}

@media all and (max-device-width: 800px) {

    .feature_card {
        width: 100%;
    }

    .action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:12px;

        & > .last-action-button {
            margin-top: 12px;
        }
    }
}