<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Kit pour les Indépendants et les Artisans Malins
            </mat-card-title>
            <mat-card-subtitle>
                Indépendant ou Artisan exerçant individuellement, vous recherchez un outil pratique pour vous assister
                dans
                la gestion quotidienne de votre entreprise et vous faciliter un peu la vie ?
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <a mat-raised-button color="accent" class="signup-button" href="https://kiam.fr/app/sign-up ">S'inscrire</a>
        </mat-card-content>
    </mat-card>
</section>